<!doctype html>
<html  ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
	 <link rel="stylesheet" type="text/css" href="main.css">   
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
   
	<script src="controllers.js"></script>
  </head>
  <body>
  <h1>Last.FM API Test!</h1>

<div ng-controller="artistsCtl">

 Country: <select name="countrySelect" id="countrySelect" ng-model="data.country" ng-change="countryChanged(data.country)">
	<option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>		
</select>

	<table class="table table-striped table-condensed table-hover">
	<thead>
	<tr>
	<td>Name</td>
	<td>Listeners</td>
	</tr>
	</thead>
        <tfoot>
        	<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="5"/>
        </tfoot>
   	<tbody>
	<tr ng-repeat="x in artists">
		<td>{{ x.name }}</td>
		<td>{{ x.listeners }}</td>
	</tr>
	</tbody>

	
</table>


</div>
</html>
