<!doctype html>
<html ng-app="lastfmApp">
  <head>
     <meta charset="ISO-8859-1">
     <script src="externals/angular.min.js"></script>

     <script src="externals/ui-bootstrap-tpls-0.12.0.js"></script>
     <link rel="stylesheet" type="text/css" href="main.css">

    <link href="externals/bootstrap.min.css" rel="stylesheet">

	<!-- link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" / > -->   
    <script src="controllers.js"></script>
  </head>
  <body>
  <h1>Last.FM API Test!</h1>

<div ng-controller="artistsCtl">

<div ng-hide="errorCode">

 Country: <select name="countrySelect" id="countrySelect" ng-model="country" ng-change="countryChanged()">
	<option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>		
</select><br/>


<div id="container">
	<table class="table table-striped table-condensed table-hover" ng-show="artists && artists.length > 0" id="results">
	<thead>
	<tr>
	<td>Name</td>
	<td>Listeners</td>
	</tr>
	</thead>
   	<tbody>
	<tr ng-repeat="x in artists">
		<td>{{ x.name }}</td>
		<td>{{ x.listeners }}</td>
	</tr>
	</tbody>
</table>

<div id="loading">
<h5>
{{ loadStatus }}
</h5>
</div>
</div>	

<pre>Page: {{currentPage}} / {{numPages}} <span ng-show="hasMore">  Note: there are more {{numPages}} pages of results, but the last.fm API only supports up to 999999 pages</span></pre>
 
 <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="5" max-size="10" boundary-links="true" rotate="false" num-pages="numPages"/>
 
 




</div>

<div ng-show="errorCode && errorCode.length > 0">
<h3>An error occured. Please contact support@support.com and quote error, code {{ errorCode }}.</h3>
To return home, <a href="javascript:location.reload();">click here</a>
</div>


</div>
</html>
